[Unit]
Description=Runs faborg-backup.sh hourly

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=10m
Unit=faborg.service

[Install]
WantedBy=timers.target
